<div class="container">
  <div class="jumbotron">
    <h2><i class="fa fa-ban red"></i> Došlo k chybě</h2>
    <p class="lead">{{error}}</p>
  </div>
</div>
<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-md-6">
        <h2>Co se stalo?</h2>
        <p class="lead">Nastala neočekávaná chyba.</p>
      </div>
      <div class="col-md-6">
        <h2>Co dělat_</h2>
        <p class="lead">Napište na sonkal@taekwondo.cz</p>
        <p>Popi3te chybu a nezapomeňte uvést číslo chyby.</p>
      </div>
    </div>
  </div>
</div>
