<div class="col-xs-3">
</div>
<div class="col-xs-6">
    <div class="header">
        <h1>TAEKWON-DO ITF SONKAL PRAHA z.s.</h1>
        <div>
            Jiránkova 1137/1, 163 00 Praha 6<br/>
            IČ: 68379391<br/>
            Bankovní spojení Fio banka, č.ú. 189640131/2010
        </div>
    </div>
    <div class="form">
        <h1 class="text-center">
            Přihláška do oddílu<br/>
            Taekwon-do ITF Sonkal Praha
        </h1>
        <div class="panel">
            <app-form>Application Form</app-form>
            <div class="text-info">
                <p>
                    Zavazujeme se, že uvedené údaje budou použity pro oddílovou evidenci a činnost s ní přímo související.
                    Bez písemného svolení nebudou osobní údaje poskytnuty třetí straně a bude s nimi nakládáno dle zákona č.
                    101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů.
                </p>
                <p>
                    Prohlašuji, že jsem četl(-a) podmínky členství uvedené na zadní straně a souhlasím s nimi v plném
                    rozsahu. Dále čestně prohlašuji, že informace o mé osobě zde uvedené jsou pravdivé, a to stvrzuji svým
                    podpisem.
                </p>
                <p>
                    Prohlašuji, že na základě lékařského posouzení svého zdravotního stavu, jsem způsobilý absolvovat
                    fyzickou zátěž tréninků a soustředění v taekwon-do ITF bez nebezpečí poškození svého zdraví, a to
                    stvrzuji svým podpisem.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="col-xs-3">
</div>
